.LandingPage{
    min-height: 100vh;
    .landing-background {
        height: 500px;
        width: 100%;
        margin: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 1;
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url('https://geekdanitek.github.io/andela_fellowship_cycle_40/UI/assets/images/landbg.jpg'), url('https://geekdanitek.github.io/andela_fellowship_cycle_40/UI/assets/images/landbg.jpg');
    }
    
    .landing-content-area {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        flex-direction: column;
        padding: 100px;
    }
    
    .landing-content-logo {
        width: 70px;
        height: 70px;
    }
    
    .landing-content-title {
        font-size: 2rem;
        line-height: 4.2rem;
        text-transform: uppercase;
        font-weight: 700;
        color: #ffffff;
        margin: 19px 0 0;
    }
    .landing-content-description {
        color: #ffffff;
        font-weight: 700;
        text-align: center;
        margin: 0 0 40px;
    
    }
    
    .landing-content-area >a {
        cursor: pointer;
        padding: 14px 50px;
        background-color: #29b6f6;
        border: none;
        transition-duration: 0.4s;
        border-radius: 5px;
        color: #ffffff;
        font-size: 20px;
        outline: none;
        text-decoration: none;
    }
    
    .landing-content-area >a:hover  {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    }
    
    .landing-how-it-works {
        margin: 50px 0;
        height: 200px;
    }
    
    .landing-how-it-works h3 {
        text-align: center;
        color: #000000;
        letter-spacing: 1.2px;
        font-size: 26px;
        font-weight: 600;
    }
    
    .landing-how-it-works-icons {
        width: 33.33%;
        float: left;
        text-align: center;
    }
    
    .landing-how-it-works-icons >img {
        width: 70px;
        height: 70px;
    }
    
    .landing-how-it-works-icons >p {
        font-size: 16px;
        font-weight: 500;
    }
    
    .landing-signup-area {
        margin: 20px 0;
        height: 150px;
        border-top: 1px solid #81d4fa;
        border-bottom: 1px solid #81d4fa;
        text-align: center;
    }
    
    .landing-signup-area >span {
        font-weight: 300;
        font-size: 13px;
        margin-right: 19px;
    }
    
    .landing-signup-area >a button {
        cursor: pointer;
        padding: 14px 50px;
        background-color: #29b6f6;
        border: none;
        transition-duration: 0.4s;
        border-radius: 5px;
        color: #ffffff;
        font-size: 20px;
        margin: 50px 0;
    }
    
    .landing-signup-area >a button:hover {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    }
    @media (max-width: 575.98px) { 
	.landing-content-area {
		padding: 100px 0 0;
	}

	.landing-how-it-works {
		height: auto; 
		display: inline-table;
	}
	.landing-how-it-works-icons {
		width: 100%;
		float: left;
		padding: 28px;
	}
	.landing-signup-area {
		height: auto;
		padding: 15px 10px;
	}
	.landing-signup-area >span { 
		margin: 0;
		padding-top: 10px;
	}
	.landing-signup-area >a button { 
		margin: 25px 0;
	}
}
}