.Profile {
    min-height: 100vh;
    .user-profile-area {
        width: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    
    .user-profile-question-post {
        width: 50%;
        float: left;
        padding-right: 3px;
    }
    
    .user-profile-question-comment {
        width: 50%;
        float: left;
        padding-left: 3px;
    }
    
    .user-profile-card {
        border: 1px solid rgba(0,0,0,.125);
        border: 1px solid #81d4fa;
        width: 100%;
        height: 100px;
        padding: 0 20px;
        border-radius: 5px;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-clip: border-box;
        transition-duration: 1s;
        margin: 20px 0;
        text-align: center;
        background-color: #ffffff;
    }	
    .user-profile-card:hover {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    }
    .user-profile-card >h1 {
        margin: 7px 0;
        font-size: 44px;
    }
    .user-profile-card >span {
        font-size: 15px;
        color: rgba(0,0,0,.54);
    }
    
    .meetups-link {
        width: 100%;
        float: left;
        margin: 20px 0;
        text-align: center;
    }
    .meetups-link >a button {
        margin: 0 5px;
        transition-duration: 0.4s;
        cursor: pointer;
        padding: 10px 13px;
        border: none;
        color: #ffffff;
        border-radius: 5px;
        background-color: #29b6f6;
        font-size: 13px;
        outline: none;
    }
    
    .meetups-link >a button:hover {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    }
    
    
    
    @media (max-width: 575.98px) { 
    
        nav.questionaire-nav div.nav-right, 
          nav.questionaire-nav div.nav-left {
           float: none;
           padding: 0;
          }
    
          nav.questionaire-nav a {
              padding: 5px 0;
          }
          nav.questionaire-nav a:last-child {
              padding: 0;
              margin-bottom: 15px;
          }
          .user-profile-area {
              width: 100%;
          }
        .user-profile-question-post {
            width: 100%;
            float: none;
            padding-right: 0;
        }
        .meetups-link >a button { 
            margin-bottom: 12px;
        }
        .container {
            padding: 0 12px !important;
        }
    
        .user-profile-question-comment {
            width: 100%;
            float: none;
            padding-left: 0;
        }
    
        .top-question-feed-card {
            width: 100%;
            height: auto;
        }
    
        .top-question-feed-body-content {
            width: 100%;
            float: none;
        }
    
        
        .top-question-feed-comments {
            font-size: 10px;
        }
    
        .top-question-feed-card-title {
            margin: 3px 0px 0px;
            font-size: 14px;
        }
    
        .left {
            height: initial;
        }
    
        .top-question-feed-card-footer {
            font-size: 10px;
            text-align: center;
            margin-top: 9px;
            margin-bottom: 5px;
        }
    }
    
}